<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="row">
    <div class="span6">
      <h1>Globant Proyect</h1>
      <p class="lead" style="color:#B9D42D;">We are ready</p>
    </div>
    <div class="span6">
      <div class="bsa well">
              <div id="bsap_1277971" class="bsap_1277971 bsap">
                 <div class="bsa_it one">
                    <div class="bsa_it_ad ad1 odd" id="bsa_3267251">
                        <a href="http://stats.buysellads.com/click.go?z=1277971&amp;b=3267251&amp;g=&amp;s=&amp;sw=1280&amp;sh=1024&amp;br=firefox,17,win&amp;r=0.5996934723506034&amp;link=http://ad.doubleclick.net/jump/N5192.1594589.BSAONE.COM/B7325765;sz=130x100;pc=[TPAS_ID];ord=1363791751?" onmouseover="window.status = 'http://ad.doubleclick.net/jump/N5192.1594589.BSAONE.COM/B7325765;sz=130x100;pc=[TPAS_ID];ord=1363791751?'; return true;" onmouseout="window.status=''; return true;" target="_blank">
                            <span class="bsa_it_i">
                               <img src="img/globant.png" alt="Royalty free stock photos" height="100" width="130">
                            </span>
                        </a>
                        <a href="http://stats.buysellads.com/click.go?z=1277971&amp;b=3267251&amp;g=&amp;s=&amp;sw=1280&amp;sh=1024&amp;br=firefox,17,win&amp;r=0.24375066990665029&amp;link=http://ad.doubleclick.net/jump/N5192.1594589.BSAONE.COM/B7325765;sz=130x100;pc=[TPAS_ID];ord=[timestamp]?" onmouseover="window.status = 'http://ad.doubleclick.net/jump/N5192.1594589.BSAONE.COM/B7325765;sz=130x100;pc=[TPAS_ID];ord=[timestamp]?'; return true;" onmouseout="window.status=''; return true;" target="_blank">
                        <span class="bsa_it_d" style="float:left;">Stockphoto is the original source for user-generated, royalty-free stock images</span>
            </a>
              <div style="clear:both"></div>
         </div>
          <span class="bsa_it_p"><a href="http://buysellads.com/buy/detail/149435/zone/1277971?utm_source=site_149435&amp;    utm_medium=website&amp;utm_campaign=imagetext&amp;utm_content=zone_1277971">ads by BSA</a>
          </span>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li class="active"><a href="#typography">Typography</a></li>
      <li class=""><a href="#navbar">Navbar</a></li>
      <li class=""><a href="#buttons">Buttons</a></li>
      <li class=""><a href="#forms">Forms</a></li>
      <li class=""><a href="#tables">Tables</a></li>
      <li class=""><a href="#miscellaneous">Miscellaneous</a></li>
    </ul>
  </div>
</header>
